/*::selection{
    background-color: #CAABD8;
    color: #714288;
  }*/

h1{
    margin-top:40px;
    font-size: 10vh;
    font-family: "Nunito Sans";
}

#login-form{
    margin-top: 10vh;
    padding-left:10vw;
    padding-right:10vw;
}

#username{
    margin: 10px;
    height: 7vh; 
    width: 31vw;
    border-radius: 25px;
    border-style: solid ;
    border-color:#caabd8;
    font-size: 3.3vh;
}

input{
    padding-left:1em;
}

::placeholder{
    color:#d6d6d6;
}

#password{
    margin:10px;
    margin-bottom: 20px;
    height: 7vh;
    width: 31vw;
    border-radius: 25px;
    border-style: solid ;
    border-color:#caabd8;
    font-size: 3.3vh;
}

#loginButton{
    border-radius: 5px;
    border: none;
    background-color:#caabd8;
    height: 7vh;
    width: 12vw;
    color: #714288;
    font-size: 3vh;
    margin-left:9vw;
    margin-top:0vh;

}


/*button will change colour when hover*/ 
#loginButton:hover{  
    background-color: rgb(171, 169, 169);
}

/*login button press effect*/ 
#loginButton:active{
    box-shadow: 0 5px #714288;
    transform: translateY(4px);
}


#registerButton{
    border-radius: 5px;
    border: none;
    background-color:#caabd8;
    height: 4vh;
    width: 10vh;
    color: #714288;
    font-size: 1.8vh;
    margin-left:120px;  
}

/*register button press effect*/ 
#registerButton:active{
    box-shadow: 0 5px #714288;
    transform: translateY(4px);
}

#second-left{
    text-align: center;
    margin-right:15vw;
    margin-top: 15vh;
    font-size: 2vh;
}


#second-right{
    text-align: center;
    margin-top:-5vh;
    margin-left:16vw;

}

#button-left{
    text-align: center;
    margin-right:18vw;
}

#fpassword{
    text-decoration: none;
    color: black;
    font-size: 2vh;
    font-family: 'Monospace';
    text-decoration: underline;
}


#fpassword:hover{
    color:#714288;
}

#button-right{
    text-align: center;
    margin-top:-20px;
    margin-left:9vw;
}