#register-form{
    margin-top: 25vh;
    padding-left:10vw;
    padding-right:10vw;
}

#username{
    margin: 10px;
    height: 36px;
    width: 300px;
    border-radius: 25px;
    border-style: solid ;
    border-color:rgb(222, 221, 221);
}

#password{
    margin:10px;
    margin-bottom: 20px;
    height: 36px;
    width: 300px;
    border-radius: 25px;
    border-style: solid ;
    border-color:rgb(222, 221, 221);

}

Button{
    border-radius: 5px;
    border: none;
    border-color:rgb(222, 221, 221);
    background-color:rgb(243, 243, 243);
    height: 36px;
    width: 127px;
    color: black;
    font-size: 13px;

}