/*font family*/
:root{
    --fontsizes: 2.5vh;
}

/*register button press effect*/ 
#submitButton:active{
    box-shadow: 0 5px #714288;
    transform: translateY(4px);
}

.fields{
    margin: 10px;
    height: 6vh; 
    width: 27vw;
    border-radius: 25px;
    border-style: solid ;
    border-color:#caabd8;
    font-size: var(--fontsizes);
}

#register-form{
    text-align: center;
}

#email{
    margin-left:40px;
}
#group{
    margin: 10px;
    height: 6vh; 
    width: 28vw;
   
    border-radius: 25px;
    border-style: solid ;
    border-color:#caabd8;
    border-width: 2px;
    font-size: var(--fontsizes);
    text-indent:10px;
    color: rgb(216, 215, 215);
}


#group_div{
   margin-right:10px;
}

#submitButton{
    margin-top:20px;
    margin-left: 70px;
    height: 7vh;
    width: 18vh;
    border-radius: 5px;
    border: none;
    background-color:#caabd8;
    color: #714288;
}
#login_button{
    margin-top:20px;
    border-radius: 5px;
    border: none;
    background-color:#caabd8;
    height: 7vh;
    width: 18vh;
    color: #714288;
    
}
#buttons{
    text-align: center;
    margin-left:70px;
    font-size: var(--fontsizes);
}

.labels{
    font-size: var(--fontsizes);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}